<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>片刻网-用文字交换世界</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!--header-->
<div id="header-outer">
  <div id="header-width">
    <img src="../images/download-12.png" alt="" class="left" id="header-LOGO">
    <div class="left nav"><a href="">首页</a></div>
    <div class="left navs"><a href="">阅读</a></div>
    <div class="left navs"><a href="">电台</a></div>
    <div class="left navs"><a href="">碎片</a></div>
    <div class="left navs"><a href="">客户端</a></div>
    <div id="header-right">
      <div class="right">登录 / 注册</div>
      <div class="right"><img src="../images/pen.jpg" alt=""></div>
    </div>
  </div>
</div>

<div id="zhanwei"></div>

<!--content-->
<div id="content">
  <div id="content_block1" class="left">
    <a href="">
      <img src="../images/download-1.jpg" width="480" height="480" id="img1"/>
      <div id="content_block_text">
        <div class="content_line"></div>
        <span>这样锻炼，你才会掌握说话的力量</span>
      </div>
    </a>
  </div>
  <div id="content_block2">
    <div class="content_block2_block">
      <a href="">
        <img src="../images/download-11.jpg" width="240" height="240" class="img"/>
        <div class="content_block2_block_text">
          <div></div>
          <span>有社交恐惧症的你，该怎么克服？</span>
        </div>
      </a>
    </div>

    <div class="content_block2_block">
      <a href="">
        <img src="../images/download-13.jpg" width="240" height="240" class="img"/>
        <div class="content_block2_block_text">
          <div></div>
          <span>怎样找到自己真正想做的事？</span>
        </div>
      </a>
    </div>

    <div class="content_block2_block">
      <a href="">
        <img src="../images/download-4.jpg" width="240" height="240" class="img"/>
        <div class="content_block2_block_text">
          <div></div>
          <span>坚持写手帐135天，生活发生了哪些改变？</span>
        </div>
      </a>
    </div>
    <div class="content_block2_block">
      <a href="">
        <img src="../images/download-12.jpg" width="240" height="240" class="img"/>
        <div class="content_block2_block_text">
          <div></div>
          <span>外公的两条命</span>
        </div>
      </a>
    </div>
  </div>


  <!--<img src="../image/download-13.jpg" width="240" height="240"/>-->
  <!--<img src="../image/download-4.jpg" width="240" height="240"/>-->
  <!--<img src="../image/download-12.jpg" width="240" height="240"/>-->

</div>

<!--寿-->
<div id="content2">
  <!--标题-->
  <div id="content2_top">
    <img src="../images/download-15.png" height="15" width="15"/><span>寿</span>
  </div>
  <!--内容-->
  <div id="content2_bigBlock">
    <div class="content2_block left">
      <div class="content2_block_img">
        <img src="../images/download.jpg" height="300" width="300" class="img2"/>
        <div class="content2_block_img_mb">
          <a href="">
            <img src="../images/download-20.png" height="82" width="82"/>
          </a>

        </div>
      </div>
      <div>
        <a href="">听完这首歌我就要...</a>
      </div>
      <div>
        <a href="">主播/夏阳的药物青春</a>
      </div>
      <div>8.3 K次播放| 评价: 18 | 喜欢: 279</div>
    </div>
    <div class="content2_block left" id="content2_block_2">
      <div class="content2_block_img">
        <img src="../images/download-10.jpg" height="300" width="300" class="img2"/>
        <div class="content2_block_img_mb">
          <a href="">
            <img src="../images/download-20.png" height="82" width="82"/>

          </a>
        </div>
      </div>
      <div>
        <a href="">列车向南开</a>
      </div>
      <div>
        <a href="">主播/词不达意</a>
      </div>
      <div>7.1 k次播放| 评论：27 | 喜欢：203</div>
    </div>

    <div class="content2_block left">

      <div class="content2_block_img">
        <img src="../images/download-17.jpg" height="300" width="300" class="img2"/>
        <div class="content2_block_img_mb">
          <a href="">
            <img src="../images/download-20.png" height="82" width="82"/>
          </a>
        </div>
      </div>

      <div>
        <a href="">遇见</a>
      </div>
      <div>
        <a href="">主播/乐文希</a>
      </div>
      <div>48.8 k次播放| 评论：182 | 喜欢：1.6 k</div>
    </div>
  </div>
</div>

<!--阅读-->
<div id="read">
  <!--标题-->
  <div id="read_top">
    <img src="../images/download-15.png" height="15" width="15"/><span>阅读| 读</span>
  </div>

  <!--每个块-->
  <!--块1-->
  <div class="read_block">
    <div class="read_block_left left">
      <div class="read_block_1"><a href="#">当我谈跑步时，我在谈爱情</a></div>
      <div class="read_block_2"><a href="#">由/阿帆哒</a></div>

      <div class="line"></div>

      <div class="read_block_3">
        <span>我辞职的理由是回家。在北京，平均跳槽时间是一年半，在所有辞职理由中，不到百分之二十是真实的。我在这家创业公司做了两年，职位是设计师，老板待我很好。   </span><span><a
                  href="">查看全部</a></span>
        <span>
                    <img src="../images/download-4.png" height="10" width="10"/>
                </span>
      </div>
      <div class="read_block_4">
        2.8 k次阅读| 评论：42 | 喜欢：589
      </div>

    </div>


    <div class="right">
      <img src="../images/download-19.gif" height="216" width="300"/>
    </div>

  </div>


  <!--块2-->
  <div class="read_block">
    <div class="read_block_left left">
      <div class="read_block_1"><a href="#">礼物</a></div>
      <div class="read_block_2"><a href="#">By / Whale小诺</a></div>

      <div class="line"></div>

      <div class="read_block_3">
        <span>本篇为：“六年前的一桩诡异凶杀案9：记忆大师”侦探大象人设：嗅觉超人哑巴常理先将绳子系在十米高的树干上，在脖子套绳圈，往下跳，自身重力把颈椎扯断    </span><span><a
                  href="">查看全部</a></span>
        <span>
                    <img src="../images/download-4.png" height="10" width="10"/>
                </span>
      </div>
      <div class="read_block_4">
        859次阅读| 评论：12 | 喜欢：92
      </div>

    </div>
    <div class="right">
      <img src="../images/download-18.jpg" height="216" width="300"/>
    </div>

  </div>
  <!--块3-->
  <div class="read_block">
    <div class="read_block_left left">
      <div class="read_block_1"><a href="#">超能力</a></div>
      <div class="read_block_2"><a href="#">By / Whale小诺</a></div>

      <div class="line"></div>

      <div class="read_block_3">
        <span>01路过小区里公园的花坛时，她往往会在原地停留了片刻，像是在等候什么一样。等候之余，她会四处看看，趁没人注意的时候，她还会蹲下来，“喵喵喵“的叫    </span><span><a
                  href="">查看全部</a></span>
        <span>
                    <img src="../images/download-4.png" height="10" width="10"/>
                </span>
      </div>
      <div class="read_block_4">
        534次阅读| 评论：2 | 喜欢：23
      </div>

    </div>


    <div class="right">
      <img src="../images/download-3.jpg" height="216" width="300"/>
    </div>

  </div>


</div>

<!--人气片客| 热门钢琴-->
<div id="star_headline">
  <img src="../images/download-15.png" height="15" width="15"/><span>人气片客| 热门钢琴</span>
</div>
<div id="star">
  <div class="star_block">
    <div class="star_block_left left">
      <img src="../images/download-5.jpg" height="90" width="90"/>
      <img src="../images/yinyueren.png" alt="" width="52" height="19">
    </div>
    <div class="star_block_right">
      <div><a href="#">王睿雷</a></div>
      <div></div>
      <div>流行歌手王睿</div>
    </div>
  </div>


  <div class="star_block">
    <div class="star_block_left left">
      <img src="../images/download-8.jpg" height="90" width="90"/>
      <img src="../images/yinyueren.png" alt="" width="52" height="19">
    </div>
    <div class="star_block_right">
      <div><a href="#">陆深兽</a></div>
      <div></div>
      <div>片刻翻唱达人陆深深</div>
    </div>
  </div>
  <div class="star_block">
    <div class="star_block_left left">
      <img src="../images/download-7.jpg" height="90" width="90"/>
      <img src="../images/yinyueren.png" alt="" width="52" height="19">
    </div>
    <div class="star_block_right">
      <div><a href="#">阿见</a></div>
      <div></div>
      <div>独立音乐人，电台主持人。</div>
    </div>
  </div>
  <div class="star_block">
    <div class="star_block_left left">
      <img src="../images/download-9.jpg" height="90" width="90"/>
      <img src="../images/zuozhe.png" alt="" width="52" height="19">
    </div>
    <div class="star_block_right">
      <div><a href="#">贤菌</a></div>
      <div></div>
      <div>靠脸吃饭，臭不要脸！</div>
    </div>
  </div>
</div>

<!--查看更多-->
<div id="more">
  <div>查看更多精彩内容</div>
</div>

<!--floor-->
<div id="floor">
  <div id="floor_width">
    <div class="left" id="floor_block1">
      <img src="../images/download-8.png" alt="" height="50" width="100">
    </div>
    <div class="left" id="floor_block2">
      <a href="">关于我们</a>
      <a href="">友情链接</a>
      <a href="">片刻关注</a>
      <a href="">意见反馈</a>
      <a href="">成长记忆</a>
      <br>
      <span>All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1</span>
    </div>
    <div class="right" id="floor_block3">
      <div>
        <img src="../images/shouji.png" alt="" height="44" width="44" id="shouji">
      </div>
      <div>
        <img src="../images/weibo.png" alt="" height="44" width="44" id="weibo">
      </div>
      <div>
        <img src="../images/weixin.png" alt="" height="44" width="44" id="weixin">
        <div id="QRcode_all">
          <div id="QRcode">
            <img src="../images/download-2.png" height="160" width="160"/>
          </div>
          <div id="trigon"></div>
        </div>
      </div>
      <div>
        <img src="../images/download-9.png" alt="" height="44" width="100">
      </div>
    </div>
  </div>
</div>

<!--回到顶部-->
<div id="back_top_1">
  <div id="back_top_2">
    <div id="back_top_3">

    </div>
  </div>
</div>


<script src="/javascripts/jquery-1.8.3.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>